fastapi==0.115.0
uvicorn[standard]==0.30.6
tensorflow==2.15.0
tf-keras==2.15.0
pillow==10.4.0
motor==3.5.1
pymongo==4.8.0
python-multipart==0.0.9
scikit-learn==1.7.2
joblib==1.4.2
python-dotenv==1.0.1
requests==2.32.3
pydantic==2.9.2
numpy==1.26.4
certifi==2024.8.30
gdown==5.2.0
h5py==3.11.0
